.toggle-password {
  margin-left: -15px;
  cursor: pointer;
}

.add-task {
  @include flex-center(10vh);
  flex-direction: column;

  .alert {
    font-size: $font-size-default;
  }

  input,
  button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: $color-white;
  }
  button {
    display: inline-flex;
    gap: $spacing-xs;
    color: #ff6f47;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  button:hover {
    background: #ff6f47;
    color: white;
  }
}
